
@media (min-width: 1025px) and (max-width: 1440px) {
  .container-content {
    width: 99%;
  }
  .box {
    width: 45%;
  }
  
  .box:nth-child(7),
  .box:nth-child(8),
  .box:nth-child(9) {
    display: none;
  }
}
@media (max-width: 1025px) {
  header {
    padding-inline: 32px;
  }
  .contact_section1{
    padding-left: 32px;
  }
    .contact_section2{
      padding-inline: 116px;
  }

}

@media (max-width: 745px) {
  header {
    padding-inline: 24px;
  }

  .logo_tablet,
  .signin_img,
  .burger {
    display: block;
  }

  .logo_desktop,
  .header_right_singIn {
    display: none;
  }

  .header_right {
    column-gap: 8px;
  }

  .header_nav {
    position: fixed;
    top: 116px;
    left: -100%;
    background-color: #b53b1b;
    width: 240px;
    height: 260px;
    padding: 25px 0 0 20px;
    transition: 0.5s linear;
  }

  .header_ul {
    flex-direction: column;
    row-gap: 20px;
  }
 
 .contact_sec1{
  padding-left: 32px;
}

  .contact_sec2{
    padding-inline: 116px;
}
.contact_section2{
  padding-inline: 24px;
}

}
@media (max-width: 745px) {
  .logo_tablet {
    display: block;
  }

  .logo_desktop {
    display: none;
  }
  
 .contact_sec1{
  padding-left: 24px;
  }
 
  .contact_sec2{
    padding-inline: 24px;
  }
}

@media (max-width: 745px) {
  .container {
    padding-top: 116px;
  }

  header {
    padding-inline: 24px;
  }

  .logo_tablet,
  .signin_img,
  .burger {
    display: block;
  }

  .logo_desktop,
  .header_right_singIn {
    display: none;
  }

  .header_right {
    column-gap: 8px;
  }

  .header_nav {
    position: fixed;
    top: 116px;
    left: -100%;
    background-color: #b53b1b;
    width: 240px;
    height: 260px;
    padding: 25px 0 0 20px;
    transition: 0.5s linear;
  }

  .header_ul {
    flex-direction: column;
    row-gap: 20px;
  }

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_left_nav{
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.social_icon_box{
  margin-bottom: 32px;
}
.footer_logo{
  margin-bottom: 32px;
}
.footer_info_style{
  display: none;
}
.middle_info{
  margin-block: 0;
}
.footer_right_nav{
  display: flex;
  justify-content: center;
}
.footer_span{
  margin-right: 0;
}
.footer_right_ul{
  width: 104px;
  display: flex;
  justify-content: space-between;
}

}
@media (max-width: 1024px) {
  .contact_iframe_box {
      flex-direction: column;
      align-items: center;
  }

  .left_side, .iframe_box {
      width: 100%;
  }
}

@media (max-width: 745px) {
  header {
    padding-inline: 24px;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo_tablet,
  .signin_img,
  .burger {
    display: block;
  }

  .logo_desktop,
  .header_right_singIn {
    display: none;
  }

  .header_right {
    column-gap: 8px;
  }


  .header_nav {
    position: fixed;
    top: 116px;
    left: -100%;
    background-color: #b53b1b;
    width: 240px;
    height: 260px;
    padding: 25px 0 0 20px;
    transition: 0.5s linear;
  }

  .header_ul {
    flex-direction: column;
    row-gap: 20px;
  }
  .contact_section2_h2{
    width: 100%;

  }
  .contact_sec1{
    width: 100%;
  }
  .contact_sec2{
    width: 100%;
  }
}

@media (max-width: 744px) {
  .contact_section2_h2 {
      font-size: 1.5em;
  }

  .button_box_span {
      font-size: 1em;
  }

  iframe {
      
      width: 100%;
    
  }
  .left_side{
    flex-direction: row;
  }
  
}
@media (max-width: 745px) {
  .cards_container {
    padding-inline: 32px;
   
  }
  .button_box_span{
    display: none;
  }
}








