
@media (min-width: 1025px) and (max-width: 1440px) {
  .container-content {
    width: 99%;
  }
  .box {
    width: 45%;
  }

  .box:nth-child(7),
  .box:nth-child(8),
  .box:nth-child(9) {
    display: none;
  }
}

@media (min-width: 744px) and (max-width: 1025px) {
  .container-content {
    width: 99%;
  }
  .box {
    width: 45%;
  }

  .box:nth-child(7),
  .box:nth-child(8),
  .box:nth-child(9) {
    display: none;
  }
   /* footer */
footer{
  padding-inline: 32px;
}
}


@media (max-width: 1025px) {
  /* header */
  header {
    padding-inline: 32px;
  }
}

@media (max-width: 745px) {
  .container {
    padding-top: 116px;
  }

  /* header */
  header {
    padding-inline: 24px;
  }

  .logo_tablet,
  .signin_img,
  .burger {
    display: block;
  }

  .logo_desktop,
  .header_right_singIn {
    display: none;
  }

  .header_right {
    column-gap: 8px;
  }

  .header_nav {
    position: fixed;
    top: 116px;
    left: -100%;
    background-color: #b53b1b;
    width: 240px;
    height: 260px;
    padding: 25px 0 0 20px;
    transition: 0.5s linear;
  }

  .header_ul {
    flex-direction: column;
    row-gap: 20px;
  }
  /* footer */
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_left_nav{
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.social_icon_box{
  margin-bottom: 32px;
}
.footer_logo{
  margin-bottom: 32px;
}
.footer_info_style{
  display: none;
}
.middle_info{
  margin-block: 0;
}
.footer_right_nav{
  display: flex;
  justify-content: center;
}
.footer_span{
  margin-right: 0;
}
.footer_right_ul{
  width: 104px;
  display: flex;
  justify-content: space-between;
}
}

@media (max-width: 1025px) {
  /* header */
  header {
    padding-inline: 32px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .container-content {
    width: 99%;
  }
  .box {
    width: 45%;
  }

  .box:nth-child(7),
  .box:nth-child(8),
  .box:nth-child(9) {
    display: none;
  }
}

@media (min-width: 744px) and (max-width: 1024px) {
  .container-content {
    width: 99%;
  }
  .box {
    width: 45%;
  }

  .box:nth-child(7),
  .box:nth-child(8),
  .box:nth-child(9) {
    display: none;
  }
}



@media (max-width: 745px) {
  header {
    padding-inline: 24px;
  }

  .logo_tablet,
  .signin_img,
  .burger {
    display: block;
  }

  .logo_desktop,
  .header_right_singIn {
    display: none;
  }

  .header_right {
    column-gap: 8px;
  }

  .header_nav {
    position: fixed;
    top: 116px;
    left: -100%;
    background-color: #b53b1b;
    width: 240px;
    height: 260px;
    padding: 25px 0 0 20px;
    transition: 0.5s linear;
  }

  .header_ul {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 745px) {
  .cards_container {
    padding-inline: 32px;
  }
}

@media (max-width: 1025px) {
  /* header */
  header {
    padding-inline: 32px;
  }
  footer{
      padding-block: 30px;
    }
}




