@media (max-width: 321px){
  /* header */
  header{
    padding-inline: 8px;
  }
  /* home_section2 */
  .cards_container_contents1{
    padding-inline: 8px 0;
  }
  .cards_container_title{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 42px;
  }
  /* artwork-section  */
  .artwork_section{
    padding: 8px;
  }
}