* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html, body{
  margin: 0; padding: 0; width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}

body {
  height: 100vh;
  overflow: scroll;
  background-color: #ea904f;
}

.product-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.container-content {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  width: 32%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 20px;
  border-radius: 8px;
}

.images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images img {
  width: 100%;
  border-radius: 8px, 8px, 0px, 0px;
}

.proddisc {
  width: 100%;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 67px;
  position: relative;
}

.prodname {
  color: #b53b1b;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
}

.price {
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  bottom: 0;
}

.cart {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #b53b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork_button1 i {
  display: none;
}
/*Header*/ 
header {
  width: 100%;
  width: inherit;
  top: 0;
  background-color: #402101;
  padding: 26px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger,
.xmark,
.signin_img,
.logo_tablet {
  display: none;
}

.header_ul {
  display: flex;
  column-gap: 60px;
}
.header_list_link {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #ffffff;
}
.active {
  color: #d5906e;
}
.header_right {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.header_right_singIn {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #ffffff;
}
.header_li:hover:after {
  opacity: 1;
  transition: all 0.2s;
  pointer-events: none;
}
.header_li:hover {
  color: #ca7622;
  text-shadow: 0px 0px 20px #e7aa60;
  transition: 0.2s linear;
}
.header_right_singIn:hover {
  border: 1px solid #e7aa60;
  transition: 0.2s linear;
}
.header_right_cart_icon:hover {
  border: 1px solid #e7aa60;
  transition: 0.2s linear;
}
.burger:hover {
  color: #ca7622;
  text-shadow: 0px 0px 20px #e7aa60;
  transition: 0.2s linear;
}
.logo_desktop:hover {
  color: #ca7622;
  text-shadow: 0px 0px 20px #e7aa60;
  transition: 0.2s linear;
}




/* home */

.cards_container_contents1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 51px 22px;
  padding: 30px 40px 100px 40px;
  background-color: #ea904f;

}
.cards_container {
  height: 642px;
  top: 656px;
  background-color: #ea904f;
 
}

.cards_container_title {
  color: #ffffff;
  font-family: inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 100px;
  padding-top: 100px;
  
}

.cards_container_title:hover {
  color: #402101;
  text-shadow: 0px 0px 20px black;
  transition: 0.2s linear;
}

article {
  background-color: #ffffff;
  width: 282px;
  height: 314px;
  top: 208px;
  left: 120px;
  cursor: pointer;
  column-gap: 30px;
}

.img1 {
  width: 250px;
  height: 184px;
  top: 16px;
  left: 16px;
  padding: 15px;
  margin-left: 15px;
  margin-top: 2px;
  cursor: pointer;
}

.img1:hover {
  transform: scale(1.1);
  filter: grayscale(100%);
}
.h3 {
  font-family: inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #b53b1b;
  padding: 15px;
  margin-left: 15px;
  margin-top: 2px;
}
.h3:hover {
  text-shadow: 2px 2px 5px black;
}
.nav2 {
  display: flex;
}
.h4 {
  font-family: inter;
  font-size: 16px;
  height: 400;
  line-height: 19px;
  color: #b53b1b;
  padding: 15px;
  margin-left: 15px;
  margin-top: 2px;
}
.h4:hover {
  text-shadow: 2px 2px 5px black;
}

.buttonadd {
  background-color: #b53b1b;
  width: 64px;
  height: 32px;
  top: 50px;
  border-radius: 8px;
  margin-left: 100px;
  color: white;
  cursor: pointer;
}

.buttonadd:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.section_page_section1 {
  background-image: url("../images/cover1.png");
  background-repeat: no-repeat;
  height: 560px;
  background-position: center;
  display: flex;
  background-size: cover;
 
}
.section_div {
  margin: auto;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  display: flex;
 
}

h2 {
  margin: auto;
  width: 485px;
  height: 144px;
  border-radius: 20px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
  display: flex;
}

.Index_h2:hover {
  text-shadow: 2px 2px 5px black;
}
.send_button1 {
  background-color: white;
  font-family: inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #b53b1b;
  margin-top: 40px;
  border: 1px solid #b53b1b;
  width: 168px;
  height: 48px;
  margin: auto;
  border-radius: 20px;
  border: 2px 0px 0px 0px;
  cursor: pointer;
}
.send_button1:hover {
  color: red;
  text-shadow: 0px 0px 20px red;
  transition: 0.2s linear;
}
/* footer */
footer{
  background-color: #402101;
  padding: 80px 120px;
  display: flex;
  justify-content: space-between;
}
.footer_left_box{
  width: 160px;
}
.footer_left_nav{
  margin-bottom: 42px;
}
.footer_left_ul{
  width: 117px;
  height: 88px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first_font {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
}
.second_font {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
}
.social_icon_box{
  display: flex;
  justify-content: space-between;
}
.footer_right_nav{
  width: 184px;
}
.middle_info{
  margin-block: 16px;
}
.footer_span{
  margin-right: 16px;
}
.fa-phone, .fa-envelope, .fa-location-dot{
  color: #FFFFFF;
}
.footer_info_style{
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #FFFFFF;
}
.footlan {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  margin-bottom: 20px;
}

.footer3{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 20px;
color: white;

}


/*artwork*/

.numcont {
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
  overflow: scroll;
  background-color: #ea904f;

}

.product-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  
}

.container-content {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  
}

.box {
  width: 32%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 20px;
  border-radius: 8px;
}

.images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images img {
  width: 100%;
  border-radius: 8px, 8px, 0px, 0px;
}

.proddisc {
  width: 100%;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 67px;
  position: relative;
}

.prodname {
  color: #b53b1b;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  text-align: left;
  position: absolute;
  top: 0;
  
}

.price {
  font-weight: 400;
  font-size: 24px;
  position: absolute;
  bottom: 0;
}

.cart {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #b53b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.artwork_button1 i {
  display: none;
}


h2 {
  margin: auto;
  width: 485px;
  height: 144px;
  border-radius: 20px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
  display: flex;
  
}
.artwork_section_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.artwork_button_title {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
  padding-right: 50px;
}

.artwork_button_title:hover {
  text-shadow: 2px 2px 5px black;
}
.artwork_button1 {
  width: 160px;
  height: 45px;
  border: 2px solid #b53b1b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  cursor: pointer;
  margin: auto;
}

.artwork_button1:hover {
  box-shadow: 2px 2px 5px white;
  transition: all 0.3s ease;
}

.logo_tablet {
  display: none;
}
.logo_desktop:hover {
  color: #ca7622;
  text-shadow: 0px 0px 20px #e7aa60;
  transition: 0.2s linear;
}


/*Contact */

.contact_sec1 {
  height: 720px;
  background-image: url("../images/cover1-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 160px 0 0 222px;
  justify-content: center;
}
.contact_title {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 40px;
}
.contact_title:hover {
  text-shadow: 2px 2px 5px black;
}
.contact_sec_article {
  background-color: cadetblue;
  width: 500px;
  height: 450px;
  border: 1px solid #ffffff;
  background-color: #402101e5;
  border-radius: 10px;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_sec_article *{
  min-width: 0;
  width: 100%;
}
.form-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.name_email {
  display: flex;
  justify-content: space-between;
}
input {
  background-color: transparent;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 190px;
  height: 40px;
  outline: none;
  color: #ffffff;
}
.send_button:hover {
  text-shadow: 2px 2px 5px black;
}
textarea {
  resize: none;
  width: 440px;
  height: 96px;
  border-radius: 8px;
  border: none;
  border: 2px solid #ffffff;
  background-color: transparent;
  outline: none;
  color: #ffffff;
}
.send_button {
  width: 147px;
  height: 56px;
  border-radius: 10px;
  background-color: #ff543e;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}
.text_contact {
  margin-block: 20px;
}



.contact_section2{
  background-color: #EA904F;
  padding: 120px 324px;
}
.contact_section2_h2{
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px #000000;
  text-align: center;
  margin-bottom: 40px;
}
.contact_iframe_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle_box{
  margin-block: 72px;
}
.contact_button{
  width: 48px;
  height: 48px;
  border: none;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: #B53B1B;
  margin-right: 14px;
}
.fa-phone,
.fa-envelope,
.fa-location-dot{
  font-size: 16px;
}
.button_box_span{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  color: #FFFFFF;
}
