/* container */
.container {
  width: min(100%, 1440px);
  margin: auto;
  padding-top: 98.4px;
}

/* header */
header {
  max-width: inherit;
  width: inherit;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #402101;
  padding: 26px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger,
.xmark,
.signin_img,
.logo_tablet {
  display: none;
}

.header_ul {
  display: flex;
  column-gap: 60px;
}



.header_list_link {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #FFFFFF;
}

.active {
  color: #D5906E;
}

.header_right {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header_right_singIn {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #FFFFFF;
}

.header_li:hover:after{
 opacity: 1;
transition: all 0.2s;
pointer-events: none;
 }
  

.header_li:hover {
      color: #ca7622;
      text-shadow: 0px 0px 20px #e7aa60;
      transition: .2s linear;}

.header_li_link:hover{
        color: #ca7622;
        text-shadow: 0px 0px 20px #e7aa60;
        transition: .2s linear;
        
      }

.header_li_link:hover:after{
        opacity: 1;
        transition: all 0.2s;
        pointer-events: none;
      }
.header_li_link:hover{
        color: #ca7622;
        text-shadow: 0px 0px 20px #e7aa60;
        transition: .2s linear;
        
      }

    
.header_right_singIn:hover{
      border: 1px solid #e7aa60;
      transition: .2s linear;
    }

  
.header_right_cart_icon:hover{
      border: 1px solid #e7aa60;
      transition: .2s linear;
    }
  
  .burger:hover{
    color: #ca7622;
    text-shadow: 0px 0px 20px #e7aa60;
    transition: .2s linear;
  }
     
  .logo_desktop:hover{
    color: #ca7622;
    text-shadow: 0px 0px 20px #e7aa60;
    transition: .2s linear;
  }
     
/* section */
  .section_page_section1{
    background-image: url("../images/cover1.png");
    background-repeat: no-repeat;
    height: 560px;
    background-position: center;
    display: flex;
    background-size: cover;
   
  }
  .section_div{
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    display: flex;
   
  }
  
  h2{
    margin: auto;
    width: 485px;
    height: 144px;
    border-radius: 20px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;
    display: flex;
  }
  
  .send_button{
    background-color: white;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #B53B1B;
    margin-top: 40px;  
    border: 1px solid #B53B1B;
    width: 168px;
    height: 48px;
    margin: auto;
     border-radius: 20px;
    border: 2px 0px 0px 0px;
  
  
  }
  
  .section_div2{
  
    background-color: #B53B1B;
  }

  .section_page_section2{
    height: 560px;
    background-position: center;
    display: flex;
    background-size: cover;
    background-color: #EA904F;
  }
  .div2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 48px;
    top: 120px;
    left: 565px;
    font: inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: auto;
    padding: 100px 60px 400px 20px;

  }

  .footer1{
    height: 314px;
    background-position: center;
    display: flex;
    background-size: cover;
    background-color: #402101;
  }

  .header_logo2{
    width: 234px;
    height: 44px;
    margin: auto;
    top: 80px;
    left: 591px;
    padding: 0 100px 100px 30px;
    display: flex;
  }

  .section_contact{
    height: 1585px;
    background-position: center;
    display: flex;
    background-color: #EA904F;
    height: 656px;

  }

  .section_page_section3{
    
      background-image: url("../images/cover1-2.png");
      background-repeat: no-repeat;
      height: 560px;
      background-position: center;
      display: flex;
      background-size: cover;
     top: 565px;
     
  }

/* section2*/
.cards_container{
  height: 642px;
  top: 656px;
  background-color: #EA904F;
  
    
}

.cards_container_title{
  color: #FFFFFF;
  font-family: inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 100px;
 padding-top: 100px;
}

.cards_container_contents {
display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 51px  22px;

}

article{
  background-color: #ffffff;
  width: 282px;
  height: 314px;
  top: 208px;
  left: 120px;

  column-gap: 30px;
}

.img1{
  width: 250px;
  height: 184px;
  top: 16px;
  left: 16px;
  padding: 15px;
  margin-left: 15px;
  margin-top: 2px;
}

.h3{
  font-family: inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #B53B1B;
  padding: 15px;
  margin-left: 15px;
  margin-top: 2px;
}
.nav2{
  display: flex;
}
.h4{
  font-family: inter;
  font-size: 16px;
  height: 400;
  line-height: 19px;
  color: #B53B1B;
  padding: 15px;
  margin-left: 15px;
  margin-top: 2px;
 
}

.buttonadd{
background-color: #B53B1B;
width: 64px;
height: 32px;
top: 50px;
border-radius: 8px;
margin-left: 100px;
color: white;
}



footer{
  background-color: #402101;
  padding: 26px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footernav{
width: 117px;
height: 98px;
align-items: center;
}

h4{
  color: white;
  font-family: inter;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
}
h5{
  color: white;
  font-family: rubik;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7px;
}


.footerdiv{
  width: 160px;
  height: 154px;
  left: 120px;
  top: 80px;
}

.link{
margin-top: 10px;
padding: 5px;
}

.navfoot{
  display: flex;
}


/* artworks*/ 
.sectionartwork{
  background-color: #EA904F;
  height: 1585px;
  top: 86px;

}
.cards_container_title2{
  margin-bottom: 100px;
  font-family: inter;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

}
.cards_container1{
  margin-bottom: 68px;
  height: 1345px;
  top: 120px;
  left: 120px;
  background-color: #EA904F;
}
.buttonsort{
  background-color: #ffffff;
  width: 160px;
  height: 45px;
  left: 1040px;
  
}
.nav3{
  display: flex;
  width: 1200px;
  height: 48px;
  background-color: aqua;
  margin: auto;
}
.img3{
  width: 352px;
  height: 224px;
  top: 16px;
  left: 16px;
}

.article1{
  background-color: white;
  width: 384px;
  height: 339px;
  border-radius: 8px;
  border: 0px, 0px, 2px, 0px;
  padding: 15px;}

  .cards_container_contents{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 51px  22px;
  }

/*sectioncontact */
.sectioncontact{
  height: 648px;
  top: 816px;
  background-color: #EA904F;
}