@media (max-width: 481px){
  /* header */
  header{
    padding-inline: 20px;
  }
  /* Section1 */
  .section_page_section1{
    height: 304px;
  }
  .Index_h2{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
  }





/* home_section2 */
  .cards_section_2{
    padding-block: 64px;
  }
  .cards_container_contents1{
    padding-inline: 20px 0;
  }
  .cards_container_title{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
  }
  /* footer */
  footer{
    padding-block: 30px;
  }
  /* artwork-section  */
  .button_forNumbers_box{
    width: 240px;
  }
  .third_button{
    display: none;  
  }
  /* cards */
  .artwork_figure{
    width: 432px;
  }
}
@media (max-width: 431px){
/* home_section1 */
  .home_section1_h2{
    font-size: 24px;
    line-height: 32px;
  }
}